.content{
    padding-top: 50px;
    padding-bottom: 100px;
}
.main{
    width: 600px;
}
.pop{
}
.project-list{

}

.project-list li{
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #eae8e8;
}
.project-list .info,img{
    float: left;
}
.project-list img{
    width: 200px;
    height: 150px;
    margin-right: 10px;
}
.pop-content{
    width: 300px;
}