.content{
    position: absolute;
    top: 0;
    bottom: 0;
}
.main{
    width: 1140px;
    height: 300px;
    margin-top: 15%;
}
.main img{
    width: 100%;
    height: 300px;
    float: left;
}
.main .login-form{
    width: 200px;
    height: 300px;
    float: right;
    margin: -300px 200px 0 0;
}